.recommendations {
  padding: 16px;
  }

  .recommendations-section {

    }

    .recommendations-section_header {
      font-size: 20pt;
      font-weight: bold;

      padding-bottom: 8px;
      padding-top: 8px;
      }

    .recommendations-section_content {
      margin-bottom: 8px;
      margin-top: 8px;
      }